{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@nuxt/babel-preset-app"
      ],
      "plugins": [
        ["@babel/plugin-transform-async-to-generator", {
          "module": "bluebird",
          "method": "coroutine"
        }],
        ["babel-plugin-transform-class-constructor-call"]
      ]
    }

  }

}
